@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nato-sans;
  src: url(font/NotoSansTC-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: outfit;
  src: url(font/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: impact;
  src: url(font/Outfit-VariableFont_wght.ttf);
}

.font-impact {
  font-family: impact;
}

.font-nato-sans {
  font-family: nato-sans;
}
.font-montserrat {
  font-family: montserrat;
}
.font-outfit {
  font-family: outfit;
}